.app-container {
    display: flex;
}

.content {
    width: 100%;
}
.create-post{
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
}
.sidebar {
    min-height: 800px;
}

.post-card {
    margin: 20px 50px;
}

.hashtag {
    margin: 0px 3px;
}

.reactions {
    margin: 15px 0px 0px 0px;
}

.welcome-message{
    margin: 100px 0;
}

.spinner{
    margin: 10% 0;
}